In [1]:
import pandas as pd


pd.set_option('display.max_columns', 50)

In [2]:
pd.set_option('display.precision', 1)
df = pd.read_excel('TFv02_Node_Sanger_v2.xlsx', sheet_name='TFv02_N1')
df = df.dropna(subset=['test_orf_id'])
df = df.loc[df['is_empty'].isnull(), :]
df['annotation'] = df['annotation'].str.strip()
pd.concat([df['annotation'].value_counts().rename('count'),
          ((df['annotation'].value_counts() / df.shape[0]) * 100).rename('pct')],
          axis=1)

                                       count  pct
mixed traces                              10  7.9
no trace                                   7  5.6
wrong identity (don't match anything)      6  4.8
wrong identity                             4  3.2
wrong identity (mouse clone)               1  0.8
truncation                                 1  0.8
wrong identity (ARID5A)                    1  0.8
no ATG wrong B1 site                       1  0.8

In [8]:
df = pd.read_excel('TFv02_Node_Sanger_v2.xlsx', sheet_name='TFv02_N2')
df = df.dropna(subset=['test_orf_id'])
df = df.loc[df['is_empty'].isnull(), :]
df['annotation'] = df['annotation'].str.strip()
pd.concat([df['annotation'].value_counts().rename('count'),
          ((df['annotation'].value_counts() / df.shape[0]) * 100).rename('pct')],
          axis=1)

                                       count  pct
wrong identity                             6  9.8
no trace                                   5  8.2
mixed traces                               5  8.2
wrong identity (don't match anything)      4  6.6
wrong identity (no ATG)                    1  1.6
truncation                                 1  1.6

In [9]:
df = pd.read_excel('TFv02_Node_Sanger_v2.xlsx', sheet_name='TFv02_N2_Isoform')
df = df.dropna(subset=['test_orf_id'])
df = df.loc[df['is_empty'].isnull(), :]
df['annotation'] = df['annotation'].str.strip()
pd.concat([df['annotation'].value_counts().rename('count'),
          ((df['annotation'].value_counts() / df.shape[0]) * 100).rename('pct')],
          axis=1)

                count  pct
wrong identity      1  4.5

In [2]:
df = pd.read_excel('TFv02_N2H_QC_reseq.xlsx')

In [5]:
df.head()

,test_orf_id,node_pla,node_pos,identity,score,avg_qual_val,plate_name,plate_pos,is_empty,genewiz annotation,annotation,confirmed,glycerol confirmed,miniprep confirmed,entry confirmed,surprise confirmed,genewiz annotation glycerol,genewiz annotation miniprep,genewiz annotation entry,genewiz annotation surprise,genewiz annotation surprise2,Unnamed: 21
0,54208,7.0,A01,54208.0,388.0,88.750,TFv02_QC_001_S1,G01,NaN,NaN,NaN,1,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,100014361,7.0,A02,100014361.0,495.0,84.625,TFv02_QC_001_S1,G02,NaN,NaN,NaN,1,1,1,1,1.0,Non-specific,Non-specific,NaN,Non-specific,NaN,NaN
2,3614,7.0,A03,3614.0,540.0,83.500,TFv02_QC_001_S1,G03,NaN,NaN,NaN,1,1,1,1,1.0,NaN,NaN,Non-specific,NaN,NaN,NaN
3,10033,7.0,A04,665.0,28.0,35.875,TFv02_QC_001_S1,G04,NaN,Non-specific,mixed traces,0,0,1,1,1.0,Non-specific,Non-specific,Non-specific,Non-specific,NaN,NaN
4,4144,7.0,A05,4144.0,549.0,87.875,TFv02_QC_001_S1,G05,NaN,NaN,NaN,1,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
confirm_columns = [c for c in df.columns if c.endswith('confirmed')]
df.groupby(confirm_columns).size()

confirmed   glycerol confirmed   miniprep confirmed   entry confirmed  surprise confirmed
0          0                    0                    0                 0.0                    7
                                                     1                 0.0                    3
                                1                    1                 1.0                    1
           1                    1                    0                 1.0                    2
                                                     1                 1.0                    1
1          1                    0                    1                 1.0                    1
                                1                    1                 1.0                   21
dtype: int64

In [18]:
df.loc[(df[' glycerol confirmed'] == 0) & df['is_empty'].isnull(), ' entry confirmed'].value_counts()

0    8
1    3
Name:  entry confirmed, dtype: int64

In [19]:
df.loc[(df[' glycerol confirmed'] == 0), ' entry confirmed'].value_counts()

0    10
1     6
Name:  entry confirmed, dtype: int64

In [21]:
df.loc[:, ' entry confirmed'].value_counts()

1     35
0     13
27     1
8      1
Name:  entry confirmed, dtype: int64

In [22]:
from scipy import stats

stats.fisher_exact([[300 - 45, 45], [300-15, 15]])

(0.2982456140350877, 5.883903643541457e-05)

In [23]:

stats.fisher_exact([[150 - 23, 23], [150-7, 7]])

(0.2702949224688355, 0.003291047521223326)

In [25]:
stats.fisher_exact([[120 - 18, 18], [120-6, 6]])

(0.2982456140350877, 0.016407523983353545)