In [ ]:
# get the pairs
# get the plate layout code
# what are the controls?
    # ask George what they used
    # SKP1-SKP2 / SKP1-BTRC?
    # A2, B2, D2, E2
# check if it's worth including the example ones

# requirements:
    # matched positives and negatives on the same plate
    # controls on the same plate


# NOTE: for future analysis, there is a TF_RRS pair in the isoform positives category

In [34]:
import string
from collections import defaultdict

import numpy as np
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite

from ccsblib import paros_connection

In [2]:
qry = """
select distinct test_orf_ida, test_orf_idb, source 
from tf_validation.validation_configure a, 
     tf_validation.validation_source b,
     tf_validation.validation_nodes_1strnd c,
     tf_validation.validation_nodes_1strnd d
where a.standard_batch = 'TFv02' 
  and b.standard_batch = 'TFv02' 
  and a.orf_id1= b.orf_id1 
  and a.orf_id2 = b.orf_id2 
  and a.test_orf_ida = c.test_orf_id 
  and a.test_orf_idb = d.test_orf_id 
  and c.standard_batch = 'TFv02' 
  and d.standard_batch = 'TFv02'  
  and c.coverage_alt >= 0.95  
  and d.coverage_alt >=0.95 ;
"""
df = pd.read_sql(qry, paros_connection())
df = df.iloc[:, :-1].drop_duplicates()
"""
df = pd.concat([df, 
           pd.DataFrame(data=[(x, 0) for x in df['test_orf_ida'].unique()], 
                        columns=df.columns),
           pd.DataFrame(data=[(0, x) for x in df['test_orf_idb'].unique()], 
                        columns=df.columns)])
"""
df['test_orf_ida'] = 'F1_' + df['test_orf_ida'].astype(str)
df['test_orf_idb'] = 'F2_' + df['test_orf_idb'].astype(str)

In [3]:
df['test_orf_idb'].nunique()

411

In [4]:
df['test_orf_idb'].value_counts()

F2_100247    33
F2_100178    23
F2_100313    23
F2_100703    20
F2_100565    18
             ..
F2_71833      1
F2_3141       1
F2_14943      1
F2_4779       1
F2_101104     1
Name: test_orf_idb, Length: 411, dtype: int64

In [38]:
# this isn't working
# should also split F2 but somehow keep the isoforms together


# what if the network were gene-partner pairs and the size was calculated based on number of isoforms per gene?

'F1_10051'

In [66]:
# try splitting both and putting genes together at end
g = nx.Graph()
g.add_nodes_from(df['test_orf_ida'].unique(), bipartite=0)
g.add_nodes_from(df['test_orf_idb'].unique(), bipartite=1)
g.add_edges_from(df.loc[:, ['test_orf_ida', 'test_orf_idb']].values)


# should merge components with isoforms from the same gene
# get list of which edges from removed node are in each component
def size_including_controls(c):
    return len(c.edges) + len(c.nodes)

print('size of graph:', sum(size_including_controls(g.subgraph(x)) for x in nx.connected_components(g)))

max_size = 90  # TODO: 96 minus pre_assigned
n_edges_before = len(g.edges)
while True:
    components = list(sorted(nx.connected_components(g), key=len, reverse=True))
    lcc = g.subgraph(components[0])
    #print('size of lcc:', size_including_controls(lcc))  # DEBUG
    if size_including_controls(lcc) < max_size:
        break
    
    #nodes_to_split = nx.minimum_node_cut(lcc)
    #if len(nodes_to_split) == 0:
    #    raise UserWarning('minimum cut algorithm failed to find node(s)')

    nodes_to_split = set()
    lcc_with_nodes_removed = lcc.copy()
    while True:
        hub = sorted(lcc_with_nodes_removed.degree, key=lambda x: x[1], reverse=True)[0][0]
        nodes_to_split.add(hub)
        lcc_with_nodes_removed.remove_node(hub)
        components_after_removing_nodes = list(nx.connected_components(lcc_with_nodes_removed))
        if len(components_after_removing_nodes) > 1:
            break
    node_to_component = defaultdict(set)
    for i, new_component in enumerate(components_after_removing_nodes):
        for node in nodes_to_split:
            new_edges = [(a + f'_r{i + 1}', b) for a, b in g.edges(node) if b in new_component]
            if len(new_edges) > 0:
                g.add_edges_from(new_edges)
                node_to_component[node].add(i + 1)
    # deal with edges between the nodes to split
    for a, b in g.subgraph(nodes_to_split).edges:
        common_components = node_to_component[a].intersection(node_to_component[b])
        if len(common_components) > 0:
            i = list(common_components)[0]
            g.add_edges_from([(a + f'_r{i}', b + f'_r{i}')])
        else:
            g.add_edges_from([(a + f'_r{list(node_to_component[a])[0]}', b + f'_r{list(node_to_component[b])[0]}')])
    for node in nodes_to_split:
        g.remove_edges_from(list(g.edges(node)))
        g.remove_node(node)
if len(g.edges) != n_edges_before:
    raise UserWarning(f'{n_edges_before} edges before, {len(g.edges)} edges now. Should only affect number of nodes, not edges')

size of graph: 1747

In [67]:
sum(size_including_controls(g.subgraph(x)) for x in nx.connected_components(g))

1903

In [21]:
#TMP
import metis 


def size_including_controls(c):
    return len(c.edges) + len(c.nodes)

g = nx.Graph()
g.add_nodes_from(df['test_orf_ida'].unique(), bipartite=0)
g.add_nodes_from(df['test_orf_idb'].unique(), bipartite=1)
g.add_edges_from(df.loc[:, ['test_orf_ida', 'test_orf_idb']].values)
components = list(sorted(nx.connected_components(g), key=len, reverse=True))
lcc = g.subgraph(components[0])
print('size of lcc:', size_including_controls(lcc))  # DEBUG
"""
for nodes_to_cut in nx.all_node_cuts(lcc):
    print(len(nodes_to_cut))
    continue
    if len(nodes_to_cut) > 1:
        continue
    # size of second largest component
    component_with_nodes_removed = lcc.copy()
    for node in nodes_to_cut:
        component_with_nodes_removed.remove_node(node)
    new_components = list(nx.connected_components(component_with_nodes_removed))
    print(len(new_components[0]), len(new_components[1]))
    break
"""
__objective_value, partion_idx = metis.part_graph(lcc)
partion_idx = {v: i for i, v in zip(partion_idx, lcc.nodes)}

size of lcc: 665

In [23]:
# get list of edges between partitions
[(a, b) for a, b in lcc.edges if partion_idx[a] != partion_idx[b]]

[('F2_101369', 'F1_12624'),
 ('F2_101276', 'F1_100009829'),
 ('F2_100225', 'F1_7306'),
 ('F1_11965', 'F2_101278'),
 ('F2_100801', 'F1_4430'),
 ('F2_100801', 'F1_14023'),
 ('F2_100801', 'F1_6725'),
 ('F1_3741', 'F2_101278'),
 ('F2_101222', 'F1_1136'),
 ('F1_1136', 'F2_101221')]

In [68]:
from ortools.linear_solver import pywraplp

def optimize_plate(well_groups, max_size):
    plates = pack_bins([size_including_controls(x) for x in well_groups], max_size)
    #[well_groups]
    return plates


def pack_bins(weights, max_size):
    """
    copy pasted from https://developers.google.com/optimization/bin/bin_packing

    BUG: seems to give an empty bin at the end
    """
    data = {}
    data['weights'] = weights
    data['items'] = list(range(len(weights)))
    data['bins'] = data['items']
    data['bin_capacity'] = max_size
    # Create the mip solver with the SCIP backend.
    solver = pywraplp.Solver.CreateSolver('SCIP')
    # Variables
    # x[i, j] = 1 if item i is packed in bin j.
    x = {}
    for i in data['items']:
        for j in data['bins']:
            x[(i, j)] = solver.IntVar(0, 1, 'x_%i_%i' % (i, j))
    # y[j] = 1 if bin j is used.
    y = {}
    for j in data['bins']:
        y[j] = solver.IntVar(0, 1, 'y[%i]' % j)
    # Constraints
    # Each item must be in exactly one bin.
    for i in data['items']:
        solver.Add(sum(x[i, j] for j in data['bins']) == 1)
    # The amount packed in each bin cannot exceed its capacity.
    for j in data['bins']:
        solver.Add(
            sum(x[(i, j)] * data['weights'][i] for i in data['items']) <= y[j] *
            data['bin_capacity'])
    # Objective: minimize the number of bins used.
    solver.Minimize(solver.Sum([y[j] for j in data['bins']]))
    status = solver.Solve()
    if status == pywraplp.Solver.OPTIMAL:
        num_bins = 0.
        bins = []
        for j in data['bins']:
            if y[j].solution_value() == 1:
                bin_items = []
                bin_weight = 0
                for i in data['items']:
                    if x[i, j].solution_value() > 0:
                        bin_items.append(i)
                        bin_weight += data['weights'][i]
                if bin_weight > 0:
                    num_bins += 1
                    bins.append(bin_items)
        return bins
    else:
        print('The problem does not have an optimal solution.') 

plates = optimize_plate(
                        well_groups=list(g.subgraph(x) for x in nx.connected_components(g)),
                        max_size=90
)

In [69]:
well_groups = list(g.subgraph(x) for x in nx.connected_components(g))
pairs = [[edge for i in plate for edge in well_groups[i].edges] for plate in plates]
# NOTE: need to sort F1 and F2
pairs = [[tuple(sorted(pair)) for pair in pairs_on_a_plate] for pairs_on_a_plate in pairs]
pairs = [[(int(f1.split('_')[1]), int(f2.split('_')[1])) for f1, f2 in pairs_on_a_plate] for pairs_on_a_plate in pairs]


def add_controls(pairs_on_plate):
    wells = []
    for x, y in pairs_on_plate:
        wells.append((x, y))
        if (x, 0) not in wells:
            wells.append((x, 0))
        if (0, y) not in wells:
            wells.append((0, y))
    return wells


items_per_plate = [add_controls(plate_pairs) for plate_pairs in pairs]
max_size = 90  # change to plate size minus pre assigned wells
if any(len(x) > max_size for x in items_per_plate):
    raise UserWarning('Too many items to fit on a plate')

pre_assigned_wells = {'B02': (6671, 4656),  # SKP1 SKP2
                      'C02': (6671, 4656),  # SKP1 SKP2
                      'D02': (6671, 9477),  # SKP1 BTRC
                      'E02': (6671, 9477),  # SKP1 BTRC
                      'G12': (np.nan, np.nan),
                      'H12': (np.nan, np.nan)}

well_codes_96 = [l + str(i).zfill(2) for l in string.ascii_uppercase[:8] for i in range(1, 13)]
plate_layout = []
for plate_idx, items in enumerate(items_per_plate):
    item_idx = 0
    for well in well_codes_96:
        if well in pre_assigned_wells:
            plate_layout.append((plate_idx + 1, well, *pre_assigned_wells[well]))
        elif item_idx < len(items):
            plate_layout.append((plate_idx + 1, well, *items[item_idx]))
            item_idx += 1
        else:
            plate_layout.append((plate_idx + 1, well, np.nan, np.nan))

# add ORF ids for SKP1/2 and the other
out = pd.DataFrame(data=plate_layout, 
                   columns=['plate_number', 'well', 'test_orf_ida', 'test_orf_idb'])
# change columns to int with missing values since they're converted to float by default
out['test_orf_ida'] = out['test_orf_ida'].astype('Int64')
out['test_orf_idb'] = out['test_orf_idb'].astype('Int64')

In [72]:
# run a bunch of checks on the final layout
n_duplicate_pairs =  (out.loc[
            out['test_orf_ida'].notnull()
            & out['test_orf_idb'].notnull()
            & (out['test_orf_ida'] != 0)
            & (out['test_orf_idb'] != 0)
            & ~out['well'].isin(pre_assigned_wells.keys()),
            ['test_orf_ida', 'test_orf_idb']]
            .duplicated()
            .sum())
if n_duplicate_pairs > 0:
    raise UserWarning('Unexpected duplicate pairs')
# no duplicates on the same plate except controls
if out.loc[~out['well'].isin(pre_assigned_wells.keys()) & 
        (out['test_orf_ida'].notnull()
            | out['test_orf_idb'].notnull()),
       ['plate_number', 'test_orf_ida', 'test_orf_idb']].duplicated().sum() > 0:
       raise UserWarning('Unexpected duplicates')

# check exactly one control is on each plate for each ORF in a pair
EMPTY_F1_ORF_ID = 0
EMPTY_F2_ORF_ID = 0
for plate_number in out['plate_number'].unique():
    for orf_ida in out.loc[(out['plate_number'] == plate_number) & 
                           ~out['well'].isin(pre_assigned_wells.keys()) &
                           (out['test_orf_ida'] != EMPTY_F1_ORF_ID) &
                           out['test_orf_ida'].notnull() &
                           (out['test_orf_idb'] != EMPTY_F2_ORF_ID),
                            'test_orf_ida'].unique():
        n_control = (((out['plate_number'] == plate_number) &
                      (out['test_orf_ida'] == orf_ida) &
                      (out['test_orf_idb'] == EMPTY_F2_ORF_ID))
                     .sum())
        if n_control != 1:
            print(f'WARNING: {n_control} empty-F2 controls for {orf_ida} on plate {plate_number}')
    for orf_idb in out.loc[(out['plate_number'] == plate_number) & 
                           ~out['well'].isin(pre_assigned_wells.keys()) &
                           (out['test_orf_idb'] != EMPTY_F2_ORF_ID) &
                           out['test_orf_idb'].notnull() &
                           (out['test_orf_ida'] != EMPTY_F1_ORF_ID), 
                           'test_orf_idb'].unique():
        n_control = (((out['plate_number'] == plate_number) &
                      (out['test_orf_idb'] == orf_idb) &
                      (out['test_orf_ida'] == EMPTY_F1_ORF_ID))
                     .sum())
        if n_control != 1:
            print(f'WARNING: {n_control} empty-F1 controls for {orf_ida} on plate {plate_number}')

PLATE_N_WELLS = 96
if not out['well'].isin(well_codes_96).all():
    raise UserWarning('Invalid well code')
if out.duplicated(subset=['plate_number', 'well']).any():
    raise UserWarning('Unexpected well duplicates')
if (out.groupby('plate_number').size() != PLATE_N_WELLS).any():
    raise UserWarning(f'Plate without {PLATE_N_WELLS} wells')

df_in = df.copy()
df_in = df_in.applymap(lambda x: int(x.split('_')[1]))
# check all the pairs are in the output
pairs_in = [tuple(pair) for pair in df_in.values]
pairs_out = set([tuple(pair) for pair in out.loc[:, ['test_orf_ida', 'test_orf_idb']].values])
if not all([pair in pairs_out for pair in pairs_in]):
    print([pair for pair in pairs_in if pair not in pairs_out])
    raise UserWarning('Missing some pairs')


# isoforms of the same gene with a speicific partner are on the same plate 
qry = """
select *
from tf_isoforms.tfiso4100_orfid_symbol_map;
"""
iso_orf_id_to_gene = pd.read_sql(qry, paros_connection()).set_index('orfid')['symbol'].to_dict()
tmp = out.copy()
tmp['tf_gene'] = tmp['test_orf_idb'].map(iso_orf_id_to_gene)
gene_level_pairs = tmp.loc[tmp['tf_gene'].notnull() & 
                           (tmp['test_orf_ida'] != EMPTY_F1_ORF_ID), 
                           ['plate_number', 'test_orf_ida', 'tf_gene']]
print(gene_level_pairs.shape[0], 'isoform level pairs')
print(gene_level_pairs.drop_duplicates().shape[0], 'gene level pairs')
n_plate_per_gene_level_pair = (gene_level_pairs.groupby(['tf_gene', 'test_orf_ida'])
                                            ['plate_number']
                                            .nunique())
if (n_plate_per_gene_level_pair > 1).any():
    print(n_plate_per_gene_level_pair[n_plate_per_gene_level_pair > 1])
    raise UserWarning('Different isoforms of the same gene with the same partner, split across multiple plates')

344 isoform level pairs
239 gene level pairs

In [81]:
# print some details
print((out['test_orf_ida'] == 0).sum(), 'empty F1')
print((out['test_orf_idb'] == 0).sum(), 'empty F2')
print()
print('empty wells per plate')
print((out['test_orf_ida'].isnull() & out['test_orf_idb'].isnull()).groupby(out['plate_number']).sum())

480 empty F1
554 empty F2

empty wells per plate
plate_number
1      7.0
2      5.0
3     12.0
4      4.0
5      6.0
6      5.0
7     13.0
8     21.0
9     11.0
10    15.0
11    17.0
12     4.0
13     3.0
14     3.0
15     4.0
16     2.0
17     3.0
18     4.0
19     2.0
20     2.0
21     3.0
22    59.0
dtype: float64

In [73]:
out.to_csv('../output/mN2H_plate_layout_2022-05-06.tsv', sep='\t', index=False)

In [14]:
[n for n in g.nodes if n.startswith('F1_100009829')]

['F1_100009829',
 'F1_100009829_r1',
 'F1_100009829_r1_r1',
 'F1_100009829_r1_r1_r1',
 'F1_100009829_r1_r1_r3']

In [20]:
[n for n in g.nodes if n.startswith('F2_100178')]

['F2_100178',
 'F2_100178_r1',
 'F2_100178_r2',
 'F2_100178_r3',
 'F2_100178_r4',
 'F2_100178_r5',
 'F2_100178_r6',
 'F2_100178_r7',
 'F2_100178_r8',
 'F2_100178_r1_r1',
 'F2_100178_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r4',
 'F2_100178_r1_r1_r1_r5',
 'F2_100178_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r2',
 'F2_100178_r1_r1_r1_r1_r3',
 'F2_100178_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r2',
 'F2_100178_r1_r1_r1_r1_r1_r3',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r2',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r2',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r3',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1',
 'F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r2']

In [21]:
g.edges('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r2')

EdgeDataView([('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r2', 'F1_1136')])

In [22]:
g.edges('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1')

EdgeDataView([('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1', 'F1_13474'), ('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1', 'F1_13577'), ('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1', 'F1_6636'), ('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1', 'F1_53886'), ('F2_100178_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1', 'F1_172')])

In [18]:
g.edges('F1_100009829_r1_r1_r1')

EdgeDataView([('F1_100009829_r1_r1_r1', 'F2_100455_r1_r1_r1_r1'), ('F1_100009829_r1_r1_r1', 'F2_100565_r1_r1_r1_r1_r1_r1_r1'), ('F1_100009829_r1_r1_r1', 'F2_100313_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1'), ('F1_100009829_r1_r1_r1', 'F2_100703_r1_r1_r1_r1_r1_r1_r1_r1_r1_r1')])

In [19]:
g.edges('F1_100009829_r1_r1_r3')

EdgeDataView([('F1_100009829_r1_r1_r3', 'F2_101399'), ('F1_100009829_r1_r1_r3', 'F2_101276'), ('F1_100009829_r1_r1_r3', 'F2_101278')])

In [158]:
df.loc[df['test_orf_ida'] == 'F1_100009829']

    test_orf_ida test_orf_idb
48  F1_100009829    F2_101399
49  F1_100009829    F2_101276
50  F1_100009829    F2_100313
51  F1_100009829    F2_100178
52  F1_100009829    F2_100247
53  F1_100009829    F2_100703
54  F1_100009829    F2_101278
55  F1_100009829    F2_100455
56  F1_100009829    F2_100565

In [162]:
out.loc[(out['test_orf_ida'] == 100009829) & (out['test_orf_idb'] == 100178)]

Empty DataFrame
Columns: [plate_number, well, test_orf_ida, test_orf_idb]
Index: []

In [164]:
out.loc[(out['test_orf_idb'] == 100178)]

     plate_number well  test_orf_ida  test_orf_idb
149             2  E06          2595        100178
150             2  E07             0        100178
159             2  F04         13474        100178
167             2  F12         53326        100178
170             2  G03          3192        100178
264             3  G01         53726        100178
265             3  G02             0        100178
270             3  G07         11179        100178
393             5  A10         13577        100178
394             5  A11             0        100178
399             5  B04           172        100178
455             5  F12          6636        100178
470             5  H03           120        100178
473             5  H06         53886        100178
474             5  H07          1136        100178
547             6  F08         14023        100178
548             6  F09             0        100178
619             7  D08          6624        100178
620             7  D09             0        100178
621             7  D10         53158        100178
798             9  C07          4929        100178
800             9  C09             0        100178
816             9  E01          3567        100178
848             9  G09         56495        100178
880            10  B05          9313        100178
882            10  B07             0        100178
904            10  D05         71240        100178
915            10  E04          5442        100178
923            10  E12         10786        100178

In [154]:
pairs_out

{(3818, 0),
 (2427, 0),
 (0, 101254),
 (53279, 100114),
 (100014695, 11695),
 (3120, 0),
 (8313, 3141),
 (100066358, 0),
 (1942, 5742),
 (14864, 101468),
 (54731, 101414),
 (8141, 100118),
 (0, 5868),
 (1942, 0),
 (0, 100063),
 (0, 2341),
 (11965, 0),
 (10016, 101070),
 (100009829, 100455),
 (12090, 0),
 (9556, 56762),
 (10650, 100044),
 (0, 100593),
 (8313, 0),
 (8141, 100468),
 (14087, 100091),
 (0, 3774),
 (12169, 0),
 (5231, 101222),
 (7076, 100409),
 (3750, 0),
 (53726, 100178),
 (1564, 100340),
 (10051, 101414),
 (8264, 0),
 (14023, 100048),
 (14210, 11786),
 (6003, 0),
 (0, 55982),
 (919, 0),
 (7735, 0),
 (130, 101174),
 (56482, 101265),
 (70764, 1102),
 (8113, 100684),
 (0, 4955),
 (9318, 3180),
 (0, 13177),
 (0, 100282),
 (3385, 0),
 (0, 11636),
 (0, 14754),
 (3425, 101407),
 (11755, 0),
 (5597, 100165),
 (0, 101221),
 (3425, 100769),
 (5057, 101469),
 (3567, 100178),
 (10051, 100645),
 (3245, 11747),
 (100015383, 100069009),
 (12007, 100157),
 (11968, 0),
 (11706, 0),
 (0, 101077),
 (10315, 0),
 (52816, 101259),
 (4573, 4573),
 (0, 2717),
 (0, 101342),
 (0, 54130),
 (56882, 0),
 (14087, 0),
 (5951, 5951),
 (0, 70345),
 (11805, 100409),
 (4015, 0),
 (100069883, 101008),
 (3753, 0),
 (2624, 0),
 (5335, 101045),
 (0, 100789),
 (2758, 0),
 (55599, 621),
 (1105, 0),
 (7784, 101366),
 (0, 101054),
 (0, 214),
 (0, 6221),
 (0, 100645),
 (2575, 0),
 (0, 100416),
 (2713, 101219),
 (6088, 101175),
 (1184, 0),
 (71149, 0),
 (11603, 0),
 (6273, 101077),
 (12169, 101108),
 (3585, 100181),
 (100068995, 100703),
 (0, 101175),
 (11435, 100703),
 (1136, 100247),
 (8273, 101422),
 (7208, 78),
 (1348, 0),
 (0, 10399),
 (12090, 100002),
 (8327, 0),
 (1747, 100069078),
 (0, 4922),
 (52816, 0),
 (10898, 100247),
 (13628, 9504),
 (8787, 100717),
 (6725, 101070),
 (100014228, 0),
 (14436, 0),
 (1765, 0),
 (0, 14577),
 (0, 100370),
 (0, 4634),
 (54237, 0),
 (0, 101044),
 (3585, 100315),
 (7225, 0),
 (56103, 0),
 (6492, 0),
 (6221, 100117),
 (54237, 55699),
 (8204, 100337),
 (10893, 5950),
 (12900, 12900),
 (120, 100178),
 (0, 2805),
 (0, 101430),
 (11344, 0),
 (0, 100118),
 (71960, 3179),
 (71240, 0),
 (830, 101362),
 (3425, 100340),
 (1400, 0),
 (0, 100383),
 (0, 56060),
 (5652, 0),
 (10016, 101390),
 (9770, 0),
 (13888, 0),
 (4430, 101063),
 (0, 976),
 (1518, 100063997),
 (9587, 0),
 (0, 101407),
 (10051, 101240),
 (0, 52883),
 (0, 100769),
 (53886, 101390),
 (100010112, 673),
 (0, 1735),
 (7225, 100565),
 (1231, 101390),
 (873, 14577),
 (12504, 101414),
 (11179, 100313),
 (3846, 0),
 (2866, 100703),
 (71163, 0),
 (6671, 4656),
 (11924, 101369),
 (172, 100178),
 (54271, 100455),
 (0, 100746),
 (0, 12329),
 (5837, 0),
 (0, 100337),
 (6636, 100178),
 (71638, 0),
 (70643, 0),
 (53021, 3117),
 (13474, 0),
 (5599, 2688),
 (0, 100602),
 (6312, 0),
 (13577, 100178),
 (100014228, 101157),
 (0, 101276),
 (52879, 0),
 (100016074, 101179),
 (100066358, 100633),
 (1400, 4047),
 (7826, 101032),
 (7903, 5888),
 (0, 966),
 (2486, 0),
 (72108, 1095),
 (14287, 0),
 (525, 100315),
 (0, 101024),
 (6808, 1641),
 (6555, 0),
 (15025, 100662),
 (11645, 425),
 (6333, 56553),
 (0, 71833),
 (7076, 0),
 (3425, 100428),
 (70179, 0),
 (13668, 0),
 (71224, 0),
 (0, 70786),
 (2379, 0),
 (0, 14943),
 (13474, 100565),
 (10016, 0),
 (0, 100327),
 (71041, 0),
 (6323, 0),
 (71077, 101171),
 (7368, 0),
 (53886, 100719),
 (5066, 0),
 (5319, 0),
 (12007, 0),
 (6923, 0),
 (0, 100448),
 (8963, 0),
 (0, 54813),
 (13215, 0),
 (53886, 0),
 (100009829, 0),
 (10281, 5910),
 (13474, 100313),
 (1231, 0),
 (71458, 0),
 (5745, 0),
 (3385, 8244),
 (100002644, 54813),
 (4278, 101259),
 (0, 100340),
 (9637, 101171),
 (2439, 0),
 (71805, 0),
 (70473, 100746),
 (4430, 0),
 (10057, 100746),
 (0, 9155),
 (653, 0),
 (55511, 0),
 (11805, 0),
 (0, 55729),
 (70799, 101297),
 (52997, 0),
 (0, 101220),
 (8273, 101202),
 (604, 0),
 (8787, 100111),
 (0, 2860),
 (3203, 0),
 (0, 11756),
 (53886, 100565),
 (7198, 100769),
 (100009829, 100565),
 (299, 100734),
 (9635, 101259),
 (5029, 71311),
 (5718, 0),
 (0, 100703),
 (7368, 100807),
 (56933, 0),
 (856, 101218),
 (8127, 101390),
 (4144, 0),
 (4278, 0),
 (7694, 100568),
 (4406, 100208),
 (0, 3102),
 (0, 9289),
 (0, 5762),
 (100009829, 100313),
 (3567, 100455),
 (100068995, 100208),
 (798, 0),
 (12504, 101240),
 (0, 101354),
 (0, 71669),
 (100009527, 101179),
 (11208, 0),
 (7225, 100247),
 (0, 1008),
 (53657, 0),
 (71566, 4115),
 (1011, 101334),
 (5516, 0),
 (0, 100801),
 (12452, 101171),
 (14887, 101063),
 (0, 72019),
 (3651, 0),
 (15065, 0),
 (1136, 101221),
 (0, 100428),
 (2264, 11756),
 (5477, 101262),
 (6512, 0),
 (7111, 4875),
 (4725, 0),
 (8963, 100182),
 (40080561, 11636),
 (9635, 0),
 (6725, 0),
 (52997, 100398),
 (0, 4139),
 (71149, 100070),
 (11965, 100014),
 (53030, 0),
 (0, 100140),
 (11132, 55982),
 (9194, 100810),
 (1184, 100335),
 (7537, 0),
 (4755, 0),
 (0, 100009183),
 (14650, 0),
 (0, 100670),
 (4920, 100455),
 (71077, 0),
 (52591, 100505),
 (100014695, 0),
 (12913, 0),
 (4706, 0),
 (71163, 454),
 (0, 100526),
 (0, 101429),
 (801, 0),
 (6923, 101183),
 (54134, 0),
 (71981, 53747),
 (100015383, 0),
 (6119, 100225),
 (14831, 100068253),
 (13474, 100247),
 (0, 100009),
 (7198, 100340),
 (10033, 0),
 (4262, 0),
 (0, 975),
 (3267, 0),
 (7123, 0),
 (54086, 0),
 (4147, 12329),
 (71240, 100178),
 (0, 13928),
 (0, 101033),
 (12452, 101174),
 (0, 5068),
 (653, 4544),
 (100067277, 0),
 (0, 101298),
 (856, 100645),
 (6880, 100416),
 (0, 2709),
 (120, 9535),
 (9272, 0),
 (0, 100107),
 (11618, 0),
 (6624, 0),
 (0, 100781),
 (53842, 100313),
 (10876, 0),
 (0, 100372),
 (3714, 0),
 (0, 14170),
 (0, 101275),
 (56794, 0),
 (1348, 101313),
 (3699, 100568),
 (13871, 0),
 (8787, 0),
 (4015, 113),
 (54271, 0),
 (10812, 100568),
 (0, 3180),
 (6555, 14287),
 (56003, 0),
 (8327, 100),
 (71669, 0),
 (0, 100758),
 (0, 1904),
 (100069883, 100568),
 (0, 14327),
 (5002, 101070),
 (0, 101432),
 (0, 100120),
 (14143, 100602),
 (0, 4613),
 (7215, 100769),
 (2757, 55703),
 (0, 14592),
 (5745, 100247),
 (0, 2663),
 (6818, 0),
 (13577, 100455),
 (11924, 100455),
 (53257, 0),
 (0, 54835),
 (0, 100061564),
 (13813, 54130),
 (9804, 0),
 (11643, 3510),
 (0, 100097),
 (5424, 101221),
 (0, 101265),
 (0, 425),
 (1939, 0),
 (2410, 0),
 (71805, 100489),
 (6886, 101222),
 (0, 101157),
 (1348, 101195),
 (10051, 100810),
 (0, 101422),
 (0, 3700),
 (3023, 100810),
 (11103, 71021),
 (54961, 0),
 (12696, 0),
 (0, 9298),
 (72025, 14411),
 (0, 101278),
 (0, 12861),
 (8127, 101026),
 (7108, 732),
 (0, 2918),
 (7980, 7980),
 (2624, 100282),
 (53886, 100178),
 (3960, 0),
 (3564, 0),
 (6119, 100568),
 (0, 101399),
 (6559, 0),
 (9286, 0),
 (7537, 100378),
 (4516, 101179),
 (55636, 101171),
 (5281, 100753),
 (0, 1089),
 (0, 100208),
 (7980, 0),
 (53726, 0),
 (54986, 10399),
 (11103, 0),
 (0, 101376),
 (7372, 0),
 (71133, 229),
 (6976, 0),
 (100014251, 100337),
 (14158, 10711),
 (3283, 0),
 (71337, 5477),
 (4066, 4955),
 (2624, 101283),
 (8055, 55729),
 (5140, 8811),
 (71041, 6009),
 (5932, 0),
 (4406, 101061),
 (7215, 100340),
 (71337, 0),
 (100016000, 0),
 (100016074, 101171),
 (1564, 100786),
 (10650, 0),
 (13386, 0),
 (1769, 100746),
 (14592, 14592),
 (2531, 0),
 (55311, 0),
 (53524, 0),
 (7694, 100315),
 (5002, 101063),
 (100062335, 0),
 (12333, 0),
 (71056, 0),
 (3120, 5998),
 (100009175, 14911),
 (0, 100198),
 (0, 14899),
 (6671, 9477),
 (0, 101366),
 (0, 1429),
 (10893, 0),
 (70606, 53018),
 (8245, 0),
 (13492, 0),
 (0, 101222),
 (1136, 100703),
 (56139, 101350),
 (5597, 0),
 (5335, 0),
 (54426, 101070),
 (53726, 100313),
 (8801, 9379),
 (0, 2453),
 (1105, 100455),
 (0, 5342),
 (638, 0),
 (0, 8905),
 (54172, 100372),
 (0, 10711),
 (3741, 101276),
 (5231, 0),
 (4437, 100076),
 (53083, 100593),
 (2455, 0),
 (54706, 100198),
 (6835, 0),
 (14384, 0),
 (2341, 100409),
 (9272, 100247),
 (3846, 8567),
 (0, 8617),
 (4920, 0),
 (3529, 0),
 (5965, 0),
 (6624, 100247),
 (2138, 0),
 (2713, 101220),
 (3092, 100313),
 (0, 100044),
 (14397, 101345),
 (0, 4573),
 (5599, 0),
 (0, 100165),
 (0, 7547),
 (55423, 0),
 (0, 3117),
 (52596, 9303),
 (0, 100021),
 (120, 0),
 (55636, 0),
 (6808, 0),
 (54157, 3154),
 (4920, 100565),
 (2111, 0),
 (0, 101045),
 (0, 3997),
 (53326, 0),
 (52628, 101063),
 (5066, 4775),
 (71981, 0),
 (0, 14061),
 (0, 101166),
 (4808, 100066377),
 (8787, 101369),
 (53524, 100568),
 (7784, 0),
 (3203, 5868),
 (0, 11208),
 (100016074, 0),
 (0, 2577),
 (0, 101202),
 (5002, 0),
 (4973, 101042),
 (6131, 0),
 (13017, 11207),
 (70767, 4922),
 (0, 71517),
 (15025, 0),
 (9254, 0),
 (3699, 100315),
 (14023, 100801),
 (0, 2842),
 (14551, 0),
 (40080743, 0),
 (54923, 56944),
 (120, 100565),
 (10812, 100315),
 (11903, 0),
 (1909, 0),
 (0, 9379),
 (4665, 100409),
 (13373, 0),
 (0, 100505),
 (9717, 100313),
 (1618, 101221),
 (100069883, 100315),
 (0, 101179),
 (100015630, 0),
 (6636, 0),
 (0, 100770),
 (100010112, 0),
 (100016017, 0),
 (1776, 0),
 (0, 101444),
 (0, 3722),
 (53326, 100565),
 (10868, 100107),
 (7306, 100670),
 (12343, 5762),
 (0, 100662),
 (0, 5420),
 (9770, 100710),
 (53726, 100247),
 (10051, 101254),
 (53021, 0),
 (0, 5950),
 (3670, 100247),
 (10127, 0),
 (1776, 70759),
 (4706, 100315),
 (1134, 100568),
 (0, 2688),
 (0, 101313),
 (9915, 0),
 (0, 53018),
 (2758, 70596),
 (56482, 0),
 (100069198, 0),
 (3364, 101259),
 (6636, 100565),
 (0, 1641),
 (10033, 100014),
 (9866, 0),
 (7214, 101444),
 (0, 8407),
 (0, 100616),
 (6901, 0),
 (3567, 100247),
 (6636, 100313),
 (6119, 100315),
 (13577, 100313),
 (71995, 0),
 (56482, 100444),
 (52891, 100455),
 (5848, 0),
 (10051, 101244),
 (113, 2663),
 (1939, 53100),
 (10921, 0),
 (53017, 1008),
 (0, 56944),
 (1425, 101259),
 (8273, 0),
 (100014223, 0),
 (52628, 0),
 (9318, 0),
 (0, 101123),
 (11412, 101342),
 (0, 71438),
 (107, 0),
 (5526, 5619),
 (100009397, 101247),
 (10658, 101139),
 (100068172, 11034),
 (6131, 100568),
 (3364, 0),
 (0, 100076),
 (5442, 0),
 (11996, 0),
 (0, 100341),
 (0, 101244),
 (11179, 100703),
 (604, 100455),
 (14650, 5943),
 (14057, 2805),
 (0, 100069019),
 (54134, 100282),
 (5837, 100327),
 (14204, 101219),
 (10507, 0),
 (10507, 101334),
 (6072, 0),
 (2341, 0),
 (8273, 100565),
 (54426, 0),
 (14894, 538),
 (1425, 0),
 (0, 4703),
 (154, 101171),
 (0, 14911),
 (5281, 0),
 (55423, 100247),
 (0, 538),
 (15065, 56155),
 (6885, 0),
 (120, 100247),
 (856, 100810),
 (0, 11914),
 (13164, 14061),
 (3585, 100505),
 (4997, 101202),
 (11618, 100246),
 (4687, 11805),
 (6440, 0),
 (7587, 48),
 (0, 71814),
 (0, 100069009),
 (5864, 101052),
 (0, 11361),
 (6653, 0),
 (0, 5619),
 (53326, 100247),
 (0, 100717),
 (54003, 0),
 (56418, 100754),
 (0, 4163),
 (464, 2577),
 (0, 101247),
 (3614, 100545),
 (3192, 100178),
 (0, 11747),
 (3198, 101390),
 (0, 9303),
 (1136, 101222),
 (1957, 0),
 (5718, 101240),
 (170, 0),
 (5813, 0),
 (0, 40080752),
 (54446, 72111),
 (3392, 100208),
 (12504, 101254),
 (3427, 0),
 (0, 53747),
 (55560, 100327),
 (3818, 100437),
 (6636, 100247),
 (56508, 101334),
 (120, 100093),
 (0, 101080),
 (0, 2455),
 (5813, 7476),
 (13577, 100247),
 (0, 101345),
 (6976, 5073),
 (4665, 0),
 (54003, 100565),
 (54086, 101008),
 (10051, 100769),
 (3741, 101278),
 (0, 11207),
 (6440, 100313),
 (10779, 9155),
 (56529, 0),
 (56663, 0),
 (11110, 100789),
 (0, 101466),
 (100009175, 0),
 (5335, 101313),
 (0, 100154),
 (12852, 40080552),
 (53326, 100178),
 (11645, 0),
 (0, 2697),
 (6323, 8314),
 (0, 100684),
 (53524, 100315),
 (1126, 14327),
 (14436, 100781),
 (1564, 0),
 (10205, 0),
 (35, 14210),
 (0, 7019),
 (0, 101443),
 (8884, 101313),
 (4687, 0),
 (4425, 0),
 (3427, 100048),
 (11800, 0),
 (0, 4660),
 (4448, 101354),
 (0, 101070),
 (0, 9535),
 (52596, 0),
 (2624, 100303),
 (55070, 0),
 (8787, 100455),
 (100062664, 0),
 (12677, 101414),
 (3198, 0),
 (154, 0),
 (0, 100553),
 (40080743, 2842),
 (12613, 0),
 (4406, 0),
 (3411, 0),
 (100066358, 101222),
 (71264, 101080),
 (54731, 100448),
 (100068995, 0),
 (0, 100409),
 (10786, 0),
 (0, 100061732),
 (11435, 0),
 (0, 40080552),
 (0, 12257),
 (6312, 975),
 (5743, 0),
 (6302, 0),
 (5956, 0),
 (11706, 3510),
 (1134, 100315),
 (100010599, 0),
 (10051, 100448),
 (56003, 56639),
 (54647, 0),
 (4437, 0),
 (8264, 7027),
 (4430, 100801),
 (0, 100651),
 (4516, 0),
 (100015579, 0),
 (10051, 100340),
 (12624, 0),
 (0, 100772),
 (0, 12355),
 (5424, 101222),
 (100061765, 100165),
 (4854, 0),
 (71912, 1089),
 (2427, 7547),
 (66, 101247),
 (801, 14331),
 (7127, 100526),
 (52891, 0),
 (4384, 101192),
 (100069210, 0),
 (70179, 100066377),
 (0, 72111),
 (0, 10935),
 (0, 101158),
 (10051, 101256),
 (0, 100111),
 (8141, 0),
 (11755, 2453),
 (3411, 100398),
 (10079, 100420),
 (0, 2654),
 (54446, 0),
 (6885, 3428),
 (5484, 0),
 (53158, 100178),
 (13215, 101033),
 (6440, 100247),
 (6131, 100315),
 (842, 101221),
 (13680, 0),
 (0, 56174),
 (0, 101171),
 (5442, 100178),
 (2391, 0),
 (11285, 0),
 (52879, 100097),
 (0, 101256),
 (2866, 0),
 (8113, 0),
 (12627, 0),
 (3425, 0),
 (4725, 100801),
 (0, 6459),
 (0, 4244),
 (431, 0),
 (6072, 100093),
 (35, 0),
 (6635, 101222),
 (70996, 14899),
 (8801, 0),
 (71077, 101174),
 (6886, 0),
 (12395, 0),
 (11266, 0),
 (53886, 100313),
 (6302, 55005),
 (11895, 100553),
 (11100, 101222),
 (10658, 0),
 (10921, 101107),
 (54923, 0),
 (0, 56128),
 (0, 11805),
 (10609, 0),
 (1011, 0),
 (0, 101390),
 (55311, 3299),
 (100009397, 0),
 (14505, 100009),
 (12627, 100565),
 (3267, 2778),
 (11643, 0),
 (9272, 100703),
 (10033, 100801),
 (0, 2248),
 (0, 6449),
 (14158, 0),
 (100010599, 100010599),
 (52905, 0),
 (5363, 100409),
 (8204, 0),
 (0, 2778),
 (0, 100091),
 (72094, 40080752),
 (6880, 100341),
 (14384, 101044),
 (71828, 0),
 (3245, 0),
 (0, 101259),
 (12913, 100526),
 (2379, 14114),
 (4101, 11361),
 (56762, 0),
 (0, 101115),
 (3818, 100063),
 (11942, 11914),
 (0, 71021),
 (5743, 100378),
 (100016000, 5890),
 (12504, 100448),
 (100068172, 0),
 (13386, 7431),
 (0, 7980),
 (10057, 100703),
 (12358, 12358),
 (70671, 0),
 (4973, 100703),
 (0, 3141),
 (8127, 0),
 (14681, 0),
 (9313, 100178),
 (0, 100719),
 (5181, 5181),
 (6559, 101063),
 (71609, 101244),
 (14894, 0),
 (0, 5477),
 (4854, 101281),
 (4950, 0),
 (0, 5742),
 (0, 229),
 (70671, 101262),
 (0, 101334),
 (0, 55699),
 (100002644, 0),
 (56801, 100120),
 (12504, 101256),
 (14662, 0),
 (0, 101370),
 (170, 100698),
 (54463, 0),
 (6768, 4660),
 (4616, 101466),
 (52905, 7587),
 (100066358, 101221),
 (876, 13791),
 (11116, 101123),
 (54961, 101318),
 (10925, 1735),
 (14681, 100565),
 (0, 11762),
 (0, 100444),
 (6273, 0),
 (0, 70759),
 (53886, 100247),
 (54706, 0),
 (53726, 100703),
 (11266, 100810),
 (0, 100565),
 (55636, 100710),
 (0, 101468),
 (9862, 0),
 (6636, 100455),
 (14681, 100313),
 (7214, 0),
 (6653, 101218),
 (10786, 100178),
 (4262, 4613),
 (2264, 0),
 (71100, 0),
 (873, 0),
 (100008214, 0),
 (54463, 100565),
 (1618, 101222),
 (0, 6756),
 (71828, 101026),
 (5932, 11468),
 (53657, 100437),
 (0, 100807),
 (10239, 0),
 (12624, 101369),
 (70473, 100719),
 (2391, 100247),
 (0, 100398),
 (71264, 0),
 (11285, 100247),
 (56482, 101008),
 (4706, 100568),
 (12358, 0),
 ...}

In [57]:
from itertools import cycle
# find hub
# get all pairs and control
# get all other pairs and their controls


# will have to add exclusion list
# biggest hub: orfb: 100247
def expand_pairs(starting_orf_id, start_with_orf_a, exclude=False):
    """
    """
    order = ['test_orf_ida', 'test_orf_idb']
    if start_with_orf_a:
        order = list(reversed(order))
    pairs = (df[order[1]] == starting_orf_id)
    for node_column in cycle(order):
        matched = (df[node_column].isin(df.loc[pairs, node_column].unique())
                & (df[node_column] != 0)
                & ~pairs
                & ~exclude)
        if matched.sum() == 0:
            break
        pairs = pairs | matched
    return pairs


expand_pairs(starting_orf_id=100247,
             start_with_orf_a=False).sum()

665

In [68]:
# get the individual components
# maybe remove the controls to start
# figure out the max size of 96 - n controls = number edges + number nodes
# 1. take the largest component
# 2. split the largest non-isoform side hub into two, in a way that 
# minimizes the size of larger of the two components
# 3. are all components less than 96 - n controls? if not go to 1.

# if a bunch of components are > half the size of the plate then
# this could be an issue. Need another step to the algorithm?
df.loc[df['test_orf_idb'] == 100247, :].iloc[:15, :]

     test_orf_ida  test_orf_idb
52      100009829        100247
59           2595        100247
61            120        100247
68          13474        100247
73          13577        100247
76          12627        100247
80          53326        100247
85           6636        100247
89           3192        100247
94          53726        100247
97          11179        100247
103         10898        100247
107         53886        100247
196          1136        100247
200          6440        100247

In [34]:
(df['test_orf_ida'].nunique(), df['test_orf_idb'].nunique())

(552, 412)

In [ ]:
import string


class Plate:
    def __init__(self, n_rows, n_columns, empty_name='empty'):
        self.n_rows = n_rows
        self.n_columns = n_columns
        self.empty_name = empty_name
        self.grid = [[empty_name for i in range(n_columns)] for j in range(n_rows)]

    def add_matrix(self, matrix, pos_top_left, transpose=False):
        n_rows = len(matrix)
        n_columns = len(matrix[0])
        if n_rows + pos_top_left[0] > self.n_rows or n_columns + pos_top_left[1] > self.n_columns:
            raise ValueError('Does not fit: {} rows {} columns, top left position: {} \n{}'.format(n_rows,
                                                                  n_columns,
                                                                  pos_top_left,
                                                                  self))
        for i, row in enumerate(matrix):
            row_index = i + pos_top_left[0]
            for j, well in enumerate(row):
                column_index = j + pos_top_left[1]
                if self.grid[row_index][column_index] != self.empty_name:
                    raise ValueError('Well already occupied: {} {}\n{}'.format(row_index, column_index, self))
                self.grid[row_index][column_index] = well

    def lowest_unoccupied_row(self):
        for i in range(self.n_rows):
            if self.grid[i] == [self.empty_name] * self.n_columns:
                return i
        return None

    def leftmost_unoccupied_column(self):
        for i in range(self.n_columns):
            if [row[i] for row in self.grid] == [self.empty_name] * self.n_rows:
                return i
        return None

    def is_empty(self):
        return all(all(x == self.empty_name for x in row) for row in self.grid)

    def is_full(self):
        return all(all(x != self.empty_name for x in row) for row in self.grid)

    def row_is_empty(self, row_index):
        return all(x == self.empty_name for x in self.grid[row_index])

    def column_is_empty(self, column_index):
        return all(row[column_index] == self.empty_name for row in self.grid)

    def empty_wells(self):
        return {string.ascii_uppercase[i] + str(j + 1).zfill(2) for i, row in enumerate(self.grid) 
                                                                for j, x in enumerate(row) 
                                                                if x == self.empty_name}

    def add_empty_row_below(self):
        self.grid.append([self.empty_name] * self.n_columns)
        self.n_rows += 1

    def empty_rectangles_from_bottom_right(self):
        """Starting from the bottom right corner, all different rectangles of empty space,
        which are not contained within another. Assumes plate is filled from top left.
        
            Returns [(int, int)]: number of rows, number of columns
        
        """
        if self.is_empty():
            return [(self.n_rows, self.n_columns)]
        if self.is_full():
            return []

        def count_empty_cells_from_right(row):
            for i in range(1, self.n_columns + 1):
                if row[-i] != self.empty_name:
                    return i - 1
            else:
                return self.n_columns

        rectangles = []
        n_columns = count_empty_cells_from_right(self.grid[-1])  #sum(x == self.empty_name for x in self.grid[-1])
        for row_index in reversed(range(self.n_rows)):
            n_empty_cells = count_empty_cells_from_right(self.grid[row_index])  #sum(x == self.empty_name for x in self.grid[row_index])
            if n_empty_cells == 0:
                break
            if n_empty_cells < n_columns:
                rectangles.insert(0, ((self.n_rows - row_index) - 1,  n_columns))
                n_columns = n_empty_cells
        else:
            rectangles.insert(0, (self.n_rows,  n_columns))
        return rectangles

    def xo_picture(self):
        print('\n'.join('|'.join('O' if cell == self.empty_name else 'X' for cell in row) for row in self.grid))

    def __repr__(self):
        return '\n'.join('|'.join(row) for row in self.grid)