Before the experiment starts. Check that the experiment layout in the database matches the file I sent Tong.

In [1]:
import pandas as pd

from ccsblib import paros_connection

In [2]:
df_a = pd.read_csv('../../output/plate_arrangement.tsv', sep='\t')
df_a = df_a.rename(columns={'test_pla': 'retest_pla', 'test_pos': 'retest_pos'})
df_a.loc[df_a['ad_clone_acc'] == 'empty-AD', 'ad_orf_id'] = -99
for i in range(1, 7):
    df_a.loc[df_a['ad_clone_acc'] == 'control-{}'.format(i), 'ad_orf_id'] = -i
    df_a.loc[df_a['ad_clone_acc'] == 'control-{}'.format(i), 'db_orf_id'] = -i

qry = """SELECT * FROM tf_screen.final_retest;"""
df_b = pd.read_sql(qry, paros_connection())

In [3]:
df_a.head()

   retest_pla retest_pos ad_clone_acc  ad_orf_id db_gene_symbol  db_orf_id
0           1        A01       ZIC3-1   101257.0           AQP1     1231.0
1           1        A02       ZIC3-1   101257.0       CATSPER1     1769.0
2           1        A03       ZIC3-1   101257.0           GCC1     7306.0
3           1        A04       ZIC3-1   101257.0         HSD3B7     4278.0
4           1        A05       ZIC3-1   101257.0       KRTAP9-3    71609.0

In [4]:
df_b.head()

   retest_pla retest_pos ad_clone_acc  ad_orf_id db_gene_symbol  db_orf_id
0           1        A01       ZIC3-1   101257.0           AQP1     1231.0
1           1        A02       ZIC3-1   101257.0       CATSPER1     1769.0
2           1        A03       ZIC3-1   101257.0           GCC1     7306.0
3           1        A04       ZIC3-1   101257.0         HSD3B7     4278.0
4           1        A05       ZIC3-1   101257.0       KRTAP9-3    71609.0

In [5]:
if not (df_a.columns == df_b.columns).all():
    raise UserWarning('columns are different!')
if not df_a.shape == df_b.shape:
    raise UserWarning('table sizes are different!')
if not (df_a.isnull() == df_b.isnull()).all().all():
    raise UserWarning('Different missing values')
if not ((df_a == df_b) | df_a.isnull()).all().all():
    raise UserWarning('Some values are different')
print('All checks passed')

All checks passed