In [1]:
import pandas as pd

from data_loading import load_valid_isoform_clones

In [9]:
sachi = set(pd.read_csv('/Users/lukelambourne/Desktop/final_list_of_good_clones.txt', 
                    sep='\t',
                    header=None)[0].values)
luke = set(load_valid_isoform_clones()['clone_acc'].values)

In [12]:
len(sachi)

758

In [13]:
len(luke)

758

In [14]:
len(sachi.intersection(luke))

754

In [15]:
sachi.difference(luke)

{'FOXD4L3|1/2|04G01',
 'FOXD4L3|2/2|03E12',
 'NANOG|1/2|01C08',
 'NANOG|2/2|01H08'}

In [16]:
luke.difference(sachi)

{'GATA2|3/4|12A02', 'IRF9|1/6|04C06', 'RORC|2/6|05C10', 'ZSCAN25|2/4|12D11'}

In [17]:
df = pd.read_csv('../data/internal/isoform_clones.tsv', sep='\t')

In [19]:
df.loc[df['clone_acc'].isin(luke.difference(sachi)), :]

        gene          clone_acc  dup_idx
129    GATA2    GATA2|3/4|12A02     25.0
186     IRF9     IRF9|1/6|04C06      6.0
386     RORC     RORC|2/6|05C10     21.0
783  ZSCAN25  ZSCAN25|2/4|12D11     17.0

In [31]:
df.loc[df['dup_idx'] == 6, :]

     gene       clone_acc  dup_idx
186  IRF9  IRF9|1/6|04C06      6.0
187  IRF9  IRF9|2/6|04C05      6.0

In [32]:
'IRF9|2/6|04C05' in luke

False

In [28]:
'ZSCAN25|3/4|12B09' in sachi

False