In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../output/N2H_pairs_missing_controls.tsv', sep='\t')
df.head()

,category,ad_gene_symbol,ad_clone_acc,ad_orf_id,db_orf_id,db_gene_symbol
0,isoform_positives,TCF4,TCF4-3,100565.0,13474,SLC39A13
1,isoform_positives,MEOX1,MEOX1-1,100645.0,10051,MAPK9
2,isoform_positives,ZNF438,ZNF438-2,100633.0,10051,MAPK9
3,isoform_positives,TCF4,TCF4-5,100703.0,56933,KLHL38
4,isoform_positives,TCF4,TCF4-7,100178.0,9313,SIGLEC6

In [7]:
df.groupby('ad_gene_symbol')['ad_clone_acc'].nunique().sort_values(ascending=False).head()

ad_gene_symbol
TCF4       8
ATF2       8
ZSCAN18    5
PPARG      5
ZBTB44     5
Name: ad_clone_acc, dtype: int64

In [14]:
df.groupby('ad_gene_symbol')['ad_clone_acc'].unique()['ZBTB44']

array(['ZBTB44-5', 'ZBTB44-4', 'ZBTB44-3', 'ZBTB44-1', 'ZBTB44-6'],
      dtype=object)